container_commands:
  01_syncdb:
    command: "source /opt/python/run/venv/bin/activate && ./manage.py syncdb"
    leader_only: true
  02_makemigrations:
    command: "source /opt/python/run/venv/bin/activate && ./manage.py convert_to_south dashboard"
    leader_only: true
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "inspired_health_site.settings"
    "PYTHONPATH": "/opt/python/current/app/inspired_health_site:$PYTHONPATH"
    "ALLOWED_HOSTS": ".elasticbeanstalk.com"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: inspired_health_site/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"
