#login_box {
	margin-top:100px;
	margin-bottom:100px;
}

#sign_up {
	text-align: center;
}

.sign_up_form {
	color: #4E4E4E;
    font-size: 16px;
}

.sign_up_form label {
	font-weight: 300;
}

.error_message {
	text-align: center;
	color: red;
}

.centered {
	margin-left:auto;
	margin-right:auto;
	display:block;
}

.bio-pic {
	margin-bottom:12px;
	width:125px;
	height:125px;
}

#collaborate {
	background: #f2f2f2;
}

#pricing-body td {
    text-align: center;
}

.gmap-area {
	background-image: url("{% static 'images/landing_site/contact_us_map.jpg' %}");
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 70px 0;
}