#inspired_health_logo {
	width:27%;
}

#address_google_map {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.note_box {
	padding-bottom:20px;
}

#reply_profile_picture {
	height:45px;
	width:45px;
}

.submit_note_form_button {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#profile_picture {
	width:100px;
	height:100px;
	display:block;
	margin-left:auto;
	margin-right:auto;
}