#inspired_health_logo {
	width:27%;
}

#address_google_map {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.note_box {
	padding-bottom:20px;
}

#reply_profile_picture {
	height:45px;
	width:45px;
}

.submit_note_form_button {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#profile_picture {
	height: 200px;
    width: 200px;
    display: block;
    margin: 20px auto;
    border-radius: 50%;
}

#public_profile_attributes {
	text-align: center;
}