{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | Inspired Patient</title>
    
    <!-- core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static "css/prettyPhoto.css" %}" rel="stylesheet">
    <link href="{% static "css/animate.min.css" %}" rel="stylesheet">
    <link href="{% static "css/main.css" %}" rel="stylesheet">
    <link href="{% static "css/responsive.css" %}" rel="stylesheet">
    <link href="{% static "css/accounts.css" %}" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{% static "images/logos/favicon.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "images/ico/apple-touch-icon-144-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "images/ico/apple-touch-icon-114-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "images/ico/apple-touch-icon-72-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" href="{% static "images/ico/apple-touch-icon-57-precomposed.png" %}">
</head><!--/head-->

<body>

    <header id="header">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="pull-right">
                       <div class="social">
                            <ul class="social-share">
                                <li><a href="https://www.facebook.com/inspiredpatient"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com/InspiredPatient"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.linkedin.com/company/10150938?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A10150938%2Cidx%3A2-1-2%2CtarId%3A1441393275459%2Ctas%3Ainspired%20patient"><i class="fa fa-linkedin"></i></a></li>     
                                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                            </ul>
                       </div>
                    </div>
                </div>
            </div><!--/.container-->
        </div><!--/.top-bar-->

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static "images/logos/inspired_patient_logo_4.png" %}" style="width: 75%;" alt="logo"></a>
                </div>
                
            <div class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li class="dropdown">
                        <a href="{% url 'about_us' %}" class="dropdown-toggle" data-toggle="dropdown">About Us <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'about_us' %}">Our Story</a></li>
                            <li><a href="{% url 'about_us' %}/#about-us">Team</a></li>
                            <li><a href="{% url 'blog' %}">Blog</a></li>
                            <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
                            <li><a href="{% url 'faq' %}">FAQ</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Solutions <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'solutions' %}">Overview</a></li>
                            <li><a href="{% url 'solutions' %}/#notes">Notes</a></li>
                            <li><a href="{% url 'solutions' %}/#collaborate">Collaborate</a></li>
                            <li><a href="{% url 'solutions' %}/#organize">Organize</a></li>
                            <li><a href="{% url 'solutions' %}/#professional">Professional</a></li>
                            <li><a href="{% url 'plans' %}">Plans</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Members Area <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'login' %}">Login</a></li>
                            <li><a href="{% url 'dashboard:notes' %}">Dashboard</a></li>
                        </ul>
                    </li>                       
                </ul>
            </div>
        </nav><!--/nav-->
        
    </header><!--/header-->