{% load staticfiles %}

    <footer id="footer" class="midnight-blue" style="position:absolute;bottom:0;width: 100%;">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2015 <a target="_blank" href="#" title="Inpired Health">Inpired Health</a>. All Rights Reserved.
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Faq</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/jquery.prettyPhoto.js" %}"></script>
    <script src="{% static "js/jquery.isotope.min.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>
    <script src="{% static "js/wow.min.js" %}"></script>
</body>
</html>