{% load staticfiles %}

    <section id="bottom">
        <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="row">
                <div class="col-md-4">
                    <div class="widget">
                        <h3>About Us</h3>
                        <ul>
                            <li><a href="{% url 'about_us' %}">Our Story</a></li>
                            <li><a href="{% url 'about_us' %}/#about-us">Team</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="{% url 'faq' %}">FAQ</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-4-->

                <div class="col-md-4">
                    <div class="widget">
                        <h3>Solutions </h3>
                        <ul>
                        <li><a href="{% url 'solutions' %}">Overview</a></li>
                        <li><a href="{% url 'solutions' %}/#notes">Notes</a></li>
                        <li><a href="{% url 'solutions' %}/#collaborate">Collaborate</a></li>
                        <li><a href="{% url 'solutions' %}/#organize">Organize</a></li>
                        <li><a href="{% url 'solutions' %}/#professional">Professional</a></li>
                        <li><a href="{% url 'plans' %}">Plans</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-4-->

                <div class="col-md-4">
                    <div class="widget">
                        <h3>Members Area</h3>
                        <ul>
                            <li><a href="{% url 'login' %}">Login</a></li>
                            <li><a href="{% url 'dashboard:notes' %}">Dashboard</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-4-->
            </div>
        </div>
    </section><!--/#bottom-->

    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2015 <a target="_blank" href="http://patientehealth.com/" title="Inspired Patient">Inspired Patient</a>. All Rights Reserved.
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'about_us' %}">About Us</a></li>
                        <li><a href="{% url 'faq' %}">Faq</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static "bower_components/metisMenu/dist/metisMenu.min.js" %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static "dist/js/sb-admin-2.js" %}"></script>

</body>
</html>