{% load staticfiles %}
{% include "dashboard/header_new.html" %}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Create a Resource Note</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Resource Note
                </div>
                <div class="panel-body">
                {% if form.errors %}
                <div class="alert alert-success" style="text-align:center;">{{ message }}</div>
                    {{ form.errors }}.
                </div>
                {% endif %}
                    <form id="add_note_form" action="{% url 'dashboard:add_resource_note' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
	                    <div class="form-group">
	                        <label>Subject *</label>
	                        {{ form.subject }}
	                    </div>
                    	<div class="row">
                    		<div class="col-lg-6">
		                    	<div class="form-group">
		                    	    <label>Doctor</label>
		                    	    {{ form.choice_for_doctor }}
		                    	</div>
	                    	</div>
	                    	<div class="col-lg-6">
		                    	<div class="form-group">
		                    	    <label>Clinic</label>
		                    	    {{ form.choice_for_clinic }}
		                    	</div>
                    		</div>
                    	</div>
						<div class="form-group">
						    <label>Notes *</label>
						    {{ form.note_content }}
						</div>
                        <div class="form-group">
                            <label>Attachments</label>
                            {{ form.attachment }}
                        </div>
                        {% if notebook_id %}
                        <input type="hidden" name="notebook_id" value="{{ notebook_id }}" />
                        {% else %}
                        <div class="form-group">
                            <label>Place note in notebook</label>
                            {{ form.notebook_id }}
                        </div>
                        {% endif %}
                    </form>
                    <button type="submit" form="add_note_form" class="btn btn-default submit_note_form_button" style="
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                    ">Create</button>
                </div>
            </div>
        </div>
        <!-- /.col-lg-4 -->
    </div>
    
</div>
<!-- /#page-wrapper -->

{% include "dashboard/footer_new.html" %}