{% load staticfiles %}
{% include "dashboard/header_new.html" %}


<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Create a Contact</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Contact
                </div>
                <div class="panel-body">
                {% if form.errors %}
                <div class="alert alert-success" style="text-align:center;">{{ message }}</div>
                {% endif %}
                    <form id="add_note_form" action="{% url 'dashboard:add_contact_note' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
	                    <div class="form-group">
	                        <label>Title *</label>
	                        {{ form.title }}
	                    </div>
                    	<div class="row">
                    		<div class="col-lg-6">
		                        <div class="form-group">
		                            <label>First Name *</label>
		                            {{ form.first_name }}
		                        </div>
							</div>
							<div class="col-lg-6">
		                        <div class="form-group">
		                            <label>Last Name *</label>
		                            {{ form.last_name }}
		                        </div>
		                    </div>
                        </div>
						<div class="form-group">
						    <label>Organization Name</label>
						    {{ form.organization_name }}
						</div>
                    	<div class="row">
                    		<div class="col-lg-6">
		                        <div class="form-group">
		                            <label>Work Phone</label>
		                            {{ form.phone_number_work }}
		                        </div>
							</div>
							<div class="col-lg-6">
		                        <div class="form-group">
		                            <label>Home Phone</label>
		                            {{ form.phone_number_home }}
		                        </div>
		                    </div>
                        </div>
						<div class="form-group">
						    <label>Email</label>
						    {{ form.email }}
						</div>
						<div class="row">
							<div class="col-lg-6">
								<div class="form-group">
								    <label>Unit</label>
								    {{ form.unit }}
								</div>
								<div class="form-group">
								    <label>Province</label>
								    {{ form.province }}
								</div>
								<div class="form-group">
								    <label>Postal Code</label>
								    {{ form.postal_code }}
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group">
								    <label>Street</label>
								    {{ form.street }}
								</div>
								<div class="form-group">
								    <label>City</label>
								    {{ form.city }}
								</div>
								<div class="form-group">
								    <label>Country</label>
								    {{ form.country }}
								</div>
							</div>
						</div>
						<div class="form-group">
						    <label>Additional Notes *</label>
						    {{ form.note_content }}
						</div>
                        <div class="form-group">
                            <label>Attachments</label>
                            {{ form.attachment }}
                        </div>
                        {% if notebook_id %}
                        <input type="hidden" name="notebook_id" value="{{ notebook_id }}" />
                        {% else %}
                        <div class="form-group">
                            <label>Place note in notebook</label>
                            {{ form.notebook_id }}
                        </div>
                        {% endif %}
                    </form>
                    <button type="submit" form="add_note_form" class="btn btn-default submit_note_form_button" style="
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                    ">Create</button>
                </div>
            </div>
        </div>
        <!-- /.col-lg-4 -->
    </div>
    
</div>
<!-- /#page-wrapper -->

{% include "dashboard/footer_new.html" %}