{% load staticfiles %}
{% include "dashboard/header_new.html" %}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Create a Medication Note</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Medication Note
                </div>
                <div class="panel-body">
                {% if form.errors %}
                <div class="alert alert-success" style="text-align:center;">{{ message }}</div>
                {% endif %}
                    <form id="add_note_form" action="{% url 'dashboard:add_medication_note' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                        <div class="form-group">
                            <label>Subject *</label>
                            {{ form.subject }}
                        </div>
                        <div class="form-group">
                            <label>Medication Name *</label>
                            {{ form.medication_name }}
                        </div>
                        <div class="form-group">
                            <label>Medication Dosage *</label>
                            {{ form.medication_dosage }}
                        </div>
                        <div class="form-group">
                            <label>Medication Duration *</label>
                            {{ form.medication_duration }}
                        </div>                        
                        <div class="row">
                            <div class="col-lg-6">
                            <div class="form-group">
                                <label>Start Time *</label>
                                <div><br>
                                {{ form.hour }}
                                {{ form.minute }}
                                {{ form.am_pm }}
                                </div>
                            </div>
                            </div>
                            <div class="col-lg-6">
                            <div class="form-group">
                                <label>Start Date *</label>
                                <div><br>
                                {{ form.day }}
                                {{ form.month }}
                                {{ form.year }}
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Frequency *</label>
                            <div><br>
                            Every 
                            {{ form.frequency }}
                            {{ form.frequency_type }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                            <div class="form-group">
                                <label>End Time *</label>
                                <div><br>
                                {{ form.end_hour }}
                                {{ form.end_minute }}
                                {{ form.end_am_pm }}
                                </div>
                            </div>
                            </div>
                            <div class="col-lg-6">
                            <div class="form-group">
                                <label>End Date *</label>
                                <div><br>
                                {{ form.end_day }}
                                {{ form.end_month }}
                                {{ form.end_year }}
                                </div>
                            </div>
                            </div>
                        </div>
	                	<div class="row">
	                		<div class="col-lg-6">
	                		<div class="form-group">
	                		    <label>Pharmacy Name *</label>
	                		    {{ form.pharmacy_name }}
	                		</div>
	                    	</div>
	                    	<div class="col-lg-6">
	                        <div class="form-group">
	                            <label>Pharmacy Telephone *</label>
	                            {{ form.pharmacy_telephone }}
	                        </div>
                    		</div>
                    	</div>
                        <div class="row">
                        	<div class="col-lg-6">
                        		<div class="form-group">
                        		    <label>Unit *</label>
                        		    {{ form.unit }}
                        		</div>
                        		<div class="form-group">
                        		    <label>Province *</label>
                        		    {{ form.province }}
                        		</div>
                        		<div class="form-group">
                        		    <label>Postal Code *</label>
                        		    {{ form.postal_code }}
                        		</div>
                        	</div>
                        	<div class="col-lg-6">
                        		<div class="form-group">
                        		    <label>Street *</label>
                        		    {{ form.street }}
                        		</div>
                        		<div class="form-group">
                        		    <label>City *</label>
                        		    {{ form.city }}
                        		</div>
                        		<div class="form-group">
                        		    <label>Country *</label>
                        		    {{ form.country }}
                        		</div>
                        	</div>
                        </div>
                        <div class="form-group">
                            <label>Additional Notes</label>
                            {{ form.note_content }}
                        </div>
                        <div class="form-group">
                            <label>Attachments</label>
                            {{ form.attachment }}
                        </div>
                        {% if notebook_id %}
                        <input type="hidden" name="notebook_id" value="{{ notebook_id }}" />
                        {% else %}
                        <div class="form-group">
                            <label>Place note in notebook</label>
                            {{ form.notebook_id }}
                        </div>
                        {% endif %}
                    </form>
                    <button type="submit" form="add_note_form" class="btn btn-default submit_note_form_button" style="
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                    ">Create</button>
                </div>
            </div>
        </div>
        <!-- /.col-lg-4 -->
    </div>
    
</div>
<!-- /#page-wrapper -->

{% include "dashboard/footer_new.html" %}