{% load staticfiles %}
{% include "dashboard/accounts_header.html" %}

    <section id="contact-page">
        <div class="container" style="margin-top:100px;">
            <div class="center">        
                <h2>Create Your Account</h2>
                <p class="lead">Welcome to Inspired Patient! Fill in the following fields to create your account.</p>
            </div> 
            <div class="row contact-wrap"> 
                {% if form.errors %}
                <div class="error_message" style="display: none">
                {{ form.errors }}.
                </div>
                <form class="sign_up_form" method="post" action="{% url 'create_user' %}" style="color:#4E4E4E;font-size: 16px;font-weight: 300;" enctype="multipart/form-data">
                {% csrf_token %}
                    <div class="col-sm-4 col-sm-offset-4">
                        <div class="form-group">
                            <label>First Name *</label>
                            {{ user_profile_form.first_name }}
                        </div>
                        <div class="form-group">
                            <label>Last Name *</label>
                            {{ user_profile_form.last_name }}
                        </div>
                        <div class="form-group">
                            <label>Email *</label>
                            {{ user_form.email }}
                        </div>
                        <div class="form-group">
                            <label>Password *</label>
                            {{ user_form.password1 }}
                        </div>
                        <div class="form-group">
                            <label>Password Confirmation *</label>
                            {{ user_form.password2 }}
                        </div>     
                        <div class="form-group">
                            <label>Are You a Professional? </label>
                            {{ user_profile_form.is_professional }}
                        </div>                                      
                        <div class="form-group">
                            <button type="submit" name="submit" class="btn btn-primary btn-lg" required="required">Create Account</button>
                        </div>                   
                    </div>
                </form> 
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#contact-page-->

    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2015 <a target="_blank" href="#" title="Inpired Patient">Inspired Patient</a>. All Rights Reserved.
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Faq</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

{% include "dashboard/accounts_footer.html" %}

