<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>

<body>
<div style="float:right;">
<table style="float:left;">
	<tr><td style="text-align:right"><a href="{% url 'dashboard:profile' %}">{{ user.user_profile.full_name }}</a></td></tr>
	<tr><td style="text-align:right"><a href="{% url 'django.contrib.auth.views.logout' %}?next=/accounts/login">Logout</a></td></tr>
</table>
<a href="{% url 'dashboard:profile' %}"><img src="{{ user.user_profile.profile_picture.url }}" alt="Profile Picture" style="height:65px;width:65px;"/></a>
</div>

<h2>Inspired Health</h2>

<a href="{% url 'dashboard:notes' %}">Health Tools</a>
<a href="{% url 'dashboard:collaboration' %}">Communication</a>
<a href="{% url 'dashboard:clinics' %}">Clinics</a>
<a href="{% url 'dashboard:dashboard' %}">Back to dashboard</a>