<div style="float:right;">
<table>
	<tr><td style="text-align:right">{{ user.user_profile.full_name }}</td></tr>
	<tr><td style="text-align:right"><a href="{% url 'django.contrib.auth.views.logout' %}?next=/accounts/login">Logout</a></td></tr>
</table>
<img src="{{ user.user_profile.profile_picture.url }}" alt="Profile Picture" style="height:50px;width:50px;"/>
</div>

<h2>Inspired Health</h2>

<a href="{% url 'dashboard:profile' %}">Profile</a>
<a href="{% url 'dashboard:collaboration' %}">Collaboration</a>
<a href="{% url 'dashboard:notes' %}">Notes</a>
<a href="{% url 'dashboard:clinics' %}">Clinics</a>
<a href="{% url 'dashboard:dashboard' %}">Back to dashboard</a>
