{% include "dashboard/header.html" %}

<h3>Subject: {{ note.subject }}</h3>
<p>Note type: <strong>{{ note.get_note_type_display }}</strong></p>
<p><strong>Date created: </strong>{{ note.date_created }}</p>
<p><strong>Last accessed:</strong> {{ note.date_accessed }}</p>
<p><b>Note:</b> </p>
<div style="border: 1px solid black;width: 500px;height:150px;overflow: scroll;">{{ note.note_content|linebreaks }}</div>

{% if note.url %}
<p>Relavent URL: <a href="{{ note.url }}">{{ note.url }}</a></p>
{% endif %}

{% if attachments %}
<p><strong>Attachment(s):</strong></p>
<ul>
{% for attachment in attachments %}
<li><a target="_blank" href="{{ attachment.file_attachment.url }}">{{ attachment.file_attachment.name }}</a></li>
{% endfor %}
</ul>
{% endif %}

<!-- Conditionals for additional text fields for different note types -->
{% if note.instructions %}
<p><strong>Instructions: </strong>{{ note.instructions }}</p>
{% endif %}

{% if note.note_type == 'Communication Note' %}
<p>Attention: {{ note.attention }}</p>
<p>Importance: {{ note.importance }}</p>
{% endif %}

{% if note.note_type == 'procedure_note' %}
<p><b>Procedure:</b> {{ note.procedure }}</p>
<p><b>Doctor:</b> {{ note.doctor }}</p>
<p><b>Weight:</b> {{ note.weight }}</p>
<p><b>Medication Name:</b> {{ note.medication_name }}</p>
<p><b>Dosage:</b> {{ note.medication_dose }}</p>
<p><b>Next Dose:</b> {{ note.next_dose }}</p>
<p><b>Selfcare Instructions:</b> {{ note.selfcare_instructions }}</p>
<p><b>Emergency Instructions:</b> {{ note.emergency_instructions }}</p>
{% endif %}

{% if note.note_type == 'self_care_note' %}
<p><b>Self Care Description:</b> {{ note.self_care_description }}</p>
<p><b>Frequency:</b> {{ note.frequency }}</p>
<p><b>Adverse Event Procedure:</b> {{ note.adverse_event_procedure }}</p>
<p><b>Time:</b> {{ note.time }}</p>
<p><b>Outcome:</b> {{ note.outcome }}</p>
{% endif %}

{% if note.follow_up %}
<p><strong>Follow-up:</strong> {{ note.follow_up }}</p>
{% endif %}

<br>
<a href="{% url 'dashboard:share_note' note.id %}">Share Note</a> 
<br>

{% if user not in note.viewers.all %}
<a href="{% url 'dashboard:add_note_reply' note.id %}">Add reply</a>
{% endif %}

{% if replies %}
<h3>Replies</h3>
{% for reply in replies %}
<ul>
	<li>Title: {{ reply.title }}</li>
	<ul>
		<li>Author: {{ reply.author.user_profile.full_name }}</li>
		<li>Reply date: {{ reply.date_created }}</li>
		<li>Content: {{ reply.content }}</li>
	</ul>
</ul>
{% endfor %}
{% endif %}
