{% load staticfiles %}
{% include "dashboard/header_new.html" %}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ note.subject }}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    General Note
                </div>
                <div class="panel-body">
                    <form action="">
                        <div class="form-group">
                            <label>Note</label>
                            <textarea class="form-control" name="note_content" id="note_content" rows="20">{{ note.note_content }}</textarea>
                        </div>
                        <div class="form-group">
                            <label>URL</label>
                            <input class="form-control" placeholder="{{ note.url }}"/>
                        </div>
                        <div class="form-group">
                            <label>Follow-Up</label>
                            <input class="form-control" placeholder="{{ note.follow_up }}"/>
                        </div>
                        {% if attachments %}
                        <div class="form-group">
                            <label>Attachments</label>
                            {% for attachment in attachments %}
                            <a target="_blank" href="{{ attachment.file_attachment.url }}">{{ attachment.file_attachment.name }}</a>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <div class="row">
    <div class="col-lg-8 col-md-offset-2">
        <div class="chat-panel panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-comments fa-fw"></i>
                Replies
            </div>
            <div class="panel-footer">
                <form action="{% url 'dashboard:add_note_reply' note.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="input-group">
                    <input id="btn-input" name="{{ form.content.html_name }}" type="text" class="form-control input-sm" placeholder="Type your reply here..." />
                    <span class="input-group-btn">
                        <input type="submit" class="btn btn-warning btn-sm" id="btn-chat">
                            Reply
                        </input>
                    </span>
                </div>
                </form>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <ul class="chat">
                    {% for reply in replies %}
                    <li class="left clearfix">
                        <span class="chat-img pull-left">
                            <img id="reply_profile_picture" src="{{ reply.author.user_profile.profile_picture.url }}" alt="User Avatar" class="img-circle" style="height:45px;width:45px;" />
                        </span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <strong class="primary-font">{{ reply.author.user_profile.full_name }}</strong>
                                <small class="pull-right text-muted">
                                    <i class="fa fa-clock-o fa-fw"></i> {{ reply.date_created }}
                                </small>
                            </div>
                            <p>
                                {{ reply.content }}
                            </p>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
    <!-- /.panel .chat-panel -->
    </div>
    
</div>
<!-- /#page-wrapper -->

{% include "dashboard/footer_new.html" %}