{% include "dashboard/header.html" %}

<h3>Notebook: {{ notebook.name }}</h3>

<p>Notes in notebook:</p>
<table border="1">
<tr>
<td>Subject</td>
<td>Created By</td>
<td>Date Created</td>
<td>Date Accessed</td>
<td></td>
</tr>
{% for note, author in zipped_list %}
<tr>
<td><a href="{% url 'dashboard:note_detail' note.id %}?note_type={{ note.note_type }}">{{ note }}</a></td>
<td>{{ author.first_name }}</td>
<td>{{ note.date_created }}</td>
<td>{{ note.date_accessed }}</td>
<td><a href="#">Remove</a></td>
</tr>
{% endfor %}
</table>

<p>Editors:</p>
<ul>
{% for editor in editors %}
<li>{{ editor.user_profile.full_name }}</li>
{% endfor %}
</ul>

<p><a href="{% url 'dashboard:notes_select' %}?notebook_id={{notebook.id}}">Create a note in notebook</a> </p>
<p><a href="{% url 'dashboard:add_notes_to_notebook' notebook.id %}">Add notes to notebook</a> </p>
<p><a href="{% url 'dashboard:share_notebook' notebook.id %}">Add associates to notebook</a></p>
