{% include "dashboard/header.html" %}

<br>
<form action="{% url 'dashboard:health_tools_search_results' %}" method="GET">
Search notes and notebooks: <input type="text" name="u">
<input type="submit" value="Search" />
</form>

<h3>Notebooks</h3>	

	<ul>
{% if notebooks_read_write %}
	{% for notebook in notebooks_read_write %}
		<li><a href="{% url 'dashboard:notebook_detail' notebook.id %}">{{ notebook.name }}</a></li>
	{% endfor %}
{% else %}
	<p>No notebooks shared with you</p>
{% endif %}
	</ul>



<h3>Notes you can reply</h3>	

<ul>
{% if notes_read_write %}
	{% for note in notes_read_write %}
		<li><a href="{% url 'dashboard:note_detail' note.id %}?note_type={{ note.note_type }}">{{ note.subject }}</a></li>
	{% endfor %}
{% else %}
	<p>No notes</p>
{% endif %}
</ul>

<h3>Notes you can view</h3>

<ul>
{% if notes_read_only %}
	{% for note in notes_read_only %}
		<li><a href="{% url 'dashboard:note_detail' note.id %}?note_type={{ note.note_type }}">{{ note.subject }}</a></li>
	{% endfor %}
{% else %}
	<p>No notes</p>
{% endif %}
</ul>



<h3>Notes you created</h3>	

<ul>
{% if authored_notes %}
	{% for note in authored_notes %}
		<li><a href="{% url 'dashboard:note_detail' note.id %}?note_type={{ note.note_type }}">{{ note.subject }}</a></li>
	{% endfor %}
{% else %}
	<p>No notes authored</p>
{% endif %}
</ul>


<a href="{% url 'dashboard:notes_select' %}">New note</a><br>
<a href="{% url 'dashboard:add_notebook' %}">New notebook</a>