{% include "dashboard/header.html" %}

<!-- <span>
<h3>Notebooks you can read</h3>	

	<ul>
{% if notebooks_read_only %}
	{% for notebook in notebooks_read_only %}
		<li><a href="{% url 'dashboard:notebook_detail' notebook.id %}">{{ notebook.name }}</a></li>
	{% endfor %}
{% else %}
	<p>No notebooks you own</p>
{% endif %}
	</ul>
</span>

<span> -->

<h3>Notebooks you can edit</h3>	

	<ul>
{% if notebooks_read_write %}
	{% for notebook in notebooks_read_write %}
		<li><a href="{% url 'dashboard:notebook_detail' notebook.id %}">{{ notebook.name }}</a></li>
	{% endfor %}
{% else %}
	<p>No notebooks shared with you</p>
{% endif %}
	</ul>
</span>

<span>
<h3>Recent notes</h3>	

	<ul>
{% if notes %}
	{% for note in notes %}
		<li><a href="{% url 'dashboard:note_detail' note.id %}?note_type={{ note.note_type }}">{{ note.subject }}</a></li>
	{% endfor %}
{% else %}
	<p>No notes added</p>
{% endif %}
	</ul>
</span>

<a href="{% url 'dashboard:notes_select' %}">Add note</a><br>
<a href="{% url 'dashboard:add_notebook' %}">New notebook</a>