{% load staticfiles %}
{% include "dashboard/header_new.html" %}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{ notebook.name }}</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div id="notes_in_notebook" class="col-lg-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-pencil fa-fw"></i> Notebook Details
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
	                <form id="edit_notebook_form" action="{% url 'dashboard:edit_notebook' notebook.id %}" method="post" enctype="multipart/form-data">
	                	{% csrf_token %}
	                    <div class="form-group">
	                        <label>Name</label>
	                        <input class="form-control" placeholder="{{ notebook.name }}" />
	                    </div>
	                    <div class="form-group">
	                        <label>Description</label>
	                        <input class="form-control" placeholder="{{ notebook.description }}" />
	                    </div>
	                    <div class="form-group">
	                        <label>Date Created</label>
	                        <input class="form-control" placeholder="{{ notebook.date_created }}" />
	                    </div>
                    	<div class="row">
                    		<div class="col-lg-6">
		                    	<div class="form-group">
								    <label>Current Notebook Editors</label>
								    {% if editors %}
								    {% for editor in editors %}
									<li>{{ editor.user_profile.full_name }}</li>
									{% endfor %}
									{% else %}
									<p>No editors</p>
									{% endif %}
								</div>
                    		</div>
	                    	<div class="col-lg-6">
		                    	<div class="form-group">
									<label>Current Notebook Viewers</label>
									{% if viewers %}
								    {% for viewer in viewers %}
									<li>{{ viewer.user_profile.full_name }}</li>
									{% endfor %}
									{% else %}
									<p>No viewers</p>
									{% endif %}
								</div>
                			</div>
                    	</div>
						{# Only display options to edit notebook if user is an editor #}
	                    {% if user in notebook.editors.all %}
	                    <div class="form-group">
	                        <p><a href="{% url 'dashboard:create_new' %}?notebook_id={{notebook.id}}">Create a note in notebook</a></p>
	                    </div>
	                    <div class="form-group">
	                        <p><a data-toggle="modal" data-target="#myModal" href="#">Add Notes to this notebook</a></p>
	                    </div>
                    	<div class="row">
                    		<div class="col-lg-6">
		                    	<div class="form-group">
								    <label>Notebook Editors</label>
									{{ permissions_form.choices_for_editors }}
								</div>
                    		</div>
	                    	<div class="col-lg-6">
		                    	<div class="form-group">
									<label>Notebook Viewers</label>
									{{ permissions_form.choices_for_viewers}}
								</div>
                			</div>
                    	</div>
						<button type="submit" form="edit_notebook_form" class="btn btn-primary" style="margin-left:auto;margin-right:auto;display:block;">Save changes</button>
						{% endif %}
	                </form>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
		<!-- /#notes_in_notebook -->

		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                <h4 class="modal-title" id="myModalLabel">Add notes to {{ notebook.name }}</h4>
		            </div>
		            <div class="modal-body">
			            {% if notes_not_in_notebook %}
			            <form id="add_notes_to_notebook_form" action="{% url 'dashboard:add_notes_to_notebook' notebook.id %}" method="post">
			            	{% csrf_token %}
			            	<div class="row">
			            		<div class="col-md-6">
			            			<label>Notebook</label>
			            			{% for note in notes_not_in_notebook %}
			            				<div>
			            					<p>{{ note.subject }}</p>
										</div>
			            			{% endfor %}
		            			</div>
		            			<div class="col-md-6">
			            			<label>Add to notebook</label>
				            		{% for note in notes_not_in_notebook %}
				            		<!-- Append checkbox name to for-loop counter -->
				            		{% with y=forloop.counter|stringformat:"s" %}
				            		{% with checkboxName="isChecked"|add:y %}
				            			<input type="checkbox" name="{{ checkboxName }}" value="{{ note.id }}" />
				            		{% endwith %}
				            		{% endwith %}
				            		{% endfor %}
			            		</div>
			            	</div>
			            	<br>
			            </form>
			            {% else %}
			            <p>All your notes are already in this notebook</p>
			            {% endif %}
		            </div>
		            <div class="modal-footer">
		                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		                <button type="submit" form="add_notes_to_notebook_form" class="btn btn-primary">Save changes</button>
		            </div>
		        </div>
		        <!-- /.modal-content -->
		    </div>
		    <!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->

        <div id="notes_in_notebook" class="col-lg-5">
            <div class="panel panel-default" style="height:600px;">
                <div class="panel-heading">
                    <i class="fa fa-pencil fa-fw"></i> Notes in Notebook
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body" style="height:600px;">
                    <div class="list-group" style="height:525px; overflow:scroll;">
                    	{% if notes_in_notebook %}
	                    	{% for note in notes_in_notebook %}
	                        <a href="{% url 'dashboard:note_detail' note.id %}?note_type={{ note.note_type }}" class="list-group-item note_box" style="padding-bottom: 20px;">
	                            <i class="fa {{ note.getFontAwesomeIconName }} fa-fw"></i> {{ note.subject }}
	                            <span class="pull-right text-muted small"><em>{{ note.date_created }}</em>
	                            </span>
	                        </a>
	                     	{% endfor %}
	                    {% endif %}
                    </div>
                    <!-- /.list-group -->
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
		<!-- /#notes_in_notebook -->
    </div>
</div>
<!-- /#page-wrapper -->

{% include "dashboard/footer_new.html" %}