{% include "dashboard/header.html" %}

<h3>Subject: {{ note.subject }}</h3>
<p>Note type: <strong>{{ note.get_note_type_display }}</strong></p>
<p><strong>Date created: </strong>{{ note.date_created }}</p>
<p><strong>Last accessed:</strong> {{ note.date_accessed }}</p>
<p><b>Note:</b> </p>
<div style="border: 1px solid black;width: 500px;height:150px;overflow: scroll;">{{ note.note_content|linebreaks }}</div>

{% if note.url %}
<p>Relavent URL: <a href="{{ note.url }}">{{ note.url }}</a></p>
{% endif %}

{% if attachments %}
<p><strong>Attachment(s):</strong></p>
<ul>
{% for attachment in attachments %}
<li><a target="_blank" href="{{ attachment.file_attachment.url }}">{{ attachment.file_attachment.name }}</a></li>
{% endfor %}
</ul>
{% endif %}

<!-- Conditionals for additional text fields for different note types -->
{% if note.instructions %}
<p><strong>Instructions: </strong>{{ note.instructions }}</p>
{% endif %}

{% if note.note_type == 'communication_note' %}
<p>Importance: {{ note.importance }}</p>
<p>Recipient Team Member: <a href="{% url 'dashboard:public_profile' note.recipient_team_member.id %}">{{ note.recipient_team_member.user_profile.full_name }}</a></p>
{% if note.doctor %}
<p>Doctor: <a href="{% url 'dashboard:public_profile' note.doctor.id %}">{{ note.doctor.user_profile.full_name }}</a></p>
{% endif %}
{% if note.clinic %}
<p>Clinic: <a href="{% url 'dashboard:clinic_detail' note.clinic.id %}">{{ note.clinic }}</a></p>
{% endif %}
{% endif %}

{% if note.note_type == 'procedure_note' %}
<p><b>Procedure:</b> {{ note.procedure }}</p>
<p><b>Weight:</b> {{ note.weight }}</p>
<p><b>Self Care Instructions:</b> {{ note.selfcare_instructions }}</p>
<p><b>Emergency Instructions:</b> {{ note.emergency_instructions }}</p>
<p><b>Pre-Procedure Instructions:</b> {{ note.selfcare_instructions }}</p>
<p><b>Follow-Up Instructions:</b> {{ note.follow_up_instructions }}</p>
<p>Doctor: <a href="{% url 'dashboard:public_profile' note.doctor.id %}">{{ note.doctor }}</a></p>
<p>Clinic: <a href="{% url 'dashboard:clinic_detail' note.clinic.id %}">{{ note.clinic }}</a></p>
{% endif %}

{% if note.note_type == 'self_care_note' %}
<p><b>Description:</b> {{ note.description }}</p>
<p><b>Frequency:</b> {{ note.frequency }}</p>
<p><b>Date and Time:</b> {{ note.date_and_time }}</p>
<p><b>Procedure:</b> {{ note.procedure }}</p>
<p><b>Emergency Procedure:</b> {{ note.emergency_procedure }}</p>
<p><b>Outcome:</b> {{ note.outcome }}</p>
{% endif %}

{% if note.note_type == 'resource_note' %}
<p>Doctor: <a href="{% url 'dashboard:public_profile' note.doctor.id %}">{{ note.doctor }}</a></p>
<p>Clinic: <a href="{% url 'dashboard:clinic_detail' note.clinic.id %}">{{ note.clinic }}</a></p>
{% endif %}

{% if note.note_type == 'contact_note' %}
<p><b>Title:</b> {{ note.title }}</p>
<p><b>Name:</b> {{ note.full_name }}</p>
<p><b>Organization Name:</b> {{ note.organization_name }}</p>
<p><b>Address:</b> {{ note.address }}</p>
<p><b>Work Phone:</b> {{ note.phone_number_work }}</p>
<p><b>Home Phone:</b> {{ note.phone_number_home }}</p>
<p><b>Email:</b> <a href="mailto:{{ note.email }}">{{ note.email }}</a></p>
{% endif %}

{% if note.note_type == 'medication_note' %}
<p><b>Medication Name:</b> {{ note.medication_name }}</p>
<p><b>Medication Dosage:</b> {{ note.medication_dosage }}</p>
<p><b>Medication Frequency:</b> {{ note.medication_frequency }}</p>
<p><b>Medication Duration:</b> {{ note.medication_duration }}</p>
<p><b>Date and Time:</b> {{ note.date_and_time }}</p>
<p><b>Pharmacy Name:</b> {{ note.pharmacy_name }}</p>
<p><b>Pharmacy Name:</b> {{ note.pharmacy_telephone }}</p>
<p><b>Pharmacy Address:</b></p>
<iframe
  width="300"
  height="225"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAU0G9FZCZ7xylrsBCktRtyjcGcC1rMXzc
    &q={{ note.pharmacy_address|escape }}" allowfullscreen>
</iframe>
{% endif %}

{% if note.note_type == 'appointment_note' %}
<p><b>Date and Time:</b> {{ note.date_and_time }}</p>
<p><b>Reason for Visit:</b> {{ note.reason_for_visit }}</p>
<p>Doctor: <a href="{% url 'dashboard:public_profile' note.doctor.id %}">{{ note.doctor }}</a></p>
<p>Clinic: <a href="{% url 'dashboard:clinic_detail' note.clinic.id %}">{{ note.clinic }}</a></p>
{% endif %}

{% if note.follow_up %}
<p><strong>Follow-up:</strong> {{ note.follow_up }}</p>
{% endif %}

<br>
<a href="{% url 'dashboard:share_note' note.id %}">Share Note</a> 
<br>

{% if user not in note.viewers.all %}
<a href="{% url 'dashboard:add_note_reply' note.id %}">Add reply</a>
{% endif %}

{% if replies %}
<h3>Replies</h3>
{% for reply in replies %}
<ul>
	<li>{{ reply.title }}</li>
	<ul>
		<li>By: {{ reply.author.user_profile.full_name }}</li>
		<li>Date: {{ reply.date_created }}</li>
		<li>Reply: {{ reply.content }}</li>
	</ul>
</ul>
{% endfor %}
{% endif %}
