{% include "dashboard/header.html" %}

<h2>Notifications</h2>

<h3>Unread Notifications</h3>
<ul>
{% for notification in notifications %}
{% if notification.view_status == 'unread' %}
<ul>
	<li>Title: {{ notification.title }}</li>
	<li>Message: {{ notification.message }}</li>
</ul>
{% endif %}
{% endfor %}
</ul>

<h3>Read Notifications</h3>
<ul>
{% for notification in notifications %}
{% if notification.view_status == 'read' %}
<ul>
	<li>Title: {{ notification.title }}</li>
	<li>Message: {{ notification.message }}</li>
</ul>
{% endif %}
{% endfor %}
</ul>
