{% include "dashboard/header.html" %}

<h2>Notifications</h2>

<h3>Unread notifications</h3>
<ul>
{% for notification in notifications %}
{% if notification.view_status == 'unread' %}
<li>Notification: {{ notification.title }}</li>
<ul>
	<li>Message: {{ notification.message }}</li>
</ul>
{% endif %}
{% endfor %}
</ul>

<h3>Read notifications</h3>
<ul>
{% for notification in notifications %}
{% if notification.view_status == 'read' %}
<li>Notification: {{ notification.title }}</li>
<ul>
	<li>Message: {{ notification.message }}</li>
</ul>
{% endif %}
{% endfor %}
</ul>
