{% include "dashboard/header.html" %}
{% load staticfiles %}

<h3>User Profile for {{ user.first_name }} {{ user.last_name }}</h3>

<!-- If user has no profile picture, display default image -->
<img src=
	"{% if user.user_profile.profile_picture %}
	{{ user.user_profile.profile_picture.url }}
	{% else %}
	{% static "img/default_profile_picture.png" %}
	{% endif %}" 
alt="Profile Picture" style="height:100px;width:100px;"/>

<ul>
	<li>Title: {{user_profile.title}}</li>
	<li>First Name:{{user.first_name}} </li>
	<li>Last Name: {{user.last_name}} </li>
	<li>Medical History: {{user_profile.medical_history}}</li>
	<li>Address:</li>
	<ul>
		<li>Unit: {{user_profile.address_unit}}</li>
		<li>Street: {{user_profile.address_street}}</li>
		<li>City: {{user_profile.address_city}}</li>
		<li>Province: {{user_profile.address_province}}</li>
		<li>Country: {{user_profile.address_country}}</li>
	</ul>
	<li>Phone number: {{ user_profile.phone_number }}</li>
	<li>Email: <a href="mailto:{{ user.username }}">{{ user.username }}</a></li>
</ul>

<a href="{% url 'dashboard:edit_profile' %}">Edit Profile</a>

 