{% include "dashboard/header.html" %}
{% load static from staticfiles %}

<h3>User Profile for {{ user.first_name }} {{ user.last_name }}</h3>

<!-- If img is hardcoded, start from this app's static directory. See below for example -->
<!-- <img src="{% static "dashboard/media/profile_pictures/1844-8.jpg" %}" alt="Profile Picture" style="height:100px;width:100px;"/>-->

<img src="{{ user_profile.profile_picture.url }}" alt="Profile Picture" style="height:100px;width:100px;"/>

<ul>
	<li>First Name:{{user.first_name}} </li>
	<li>Last Name: {{user.last_name}} </li>
	<li>Address: {{user_profile.address_street}}</li>
	<li>Medical History: {{user_profile.medical_history}}</li>
	<li>Title: {{user_profile.title}}</li>
</ul>

<a href="{% url 'dashboard:edit_profile' %}">Edit Profile</a>

 