{% include "dashboard/header.html" %}

<h3>User Profile for {{ public_profile_user.first_name }} {{ public_profile_user.last_name }}</h3>

<img src="{{ public_profile_user.user_profile.profile_picture.url }}" alt="Profile Picture" style="height:100px;width:100px;"/>

<ul>
<li>Title: {{ public_profile_user.user_profile.title }}</li>
<li>Name: {{ public_profile_user.user_profile.full_name }} </li>
<li>Role: {{ public_profile_user.user_profile.get_role_display }}</li>
{% if public_profile_user.user_profile.role == 'professional' %}
<li>Qualification: {{ public_profile_user.user_profile.qualification }}</li>
<li>Job Title: {{ public_profile_user.user_profile.job_title }}</li>
<li>Office Tel: {{ public_profile_user.user_profile.office_tel }}</li>
<li>Office Email: {{ public_profile_user.user_profile.office_email }}</li>
<li>Office Address:</li><br>
<iframe
  width="300"
  height="225"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAU0G9FZCZ7xylrsBCktRtyjcGcC1rMXzc
    &q={{ maps_query }}" allowfullscreen>
</iframe>
{% endif %}
</ul>

{% if not is_associate %}
<p><a href="{% url 'dashboard:add_associate' public_profile_user.id %}">Add user as associate</a></p>
{% endif %}

{% if message %}
<p>{{ message }}</p>
{% endif %}