{% load staticfiles %}
{% include "dashboard/header_new.html" %}

<div id="page-wrapper">
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">{{ public_profile_user.user_profile.full_name }}</h1>
	</div>
 <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
	<div class="col-lg-8 col-md-offset-2">
		 <div class="panel panel-default">
			<div class="panel-heading">
				User Profile
			</div>
			<div class="panel-body">
			{% if message %}
			<div class="alert alert-warning">{{ message }}</div>
			{% endif %}
				<div class="row">
					<div class="col-md-8 col-md-offset-2" style="text-align: center;" id="public_profile_attributes">
						<img id="profile_picture" src=
							"{% if public_profile_user.user_profile.profile_picture %}
							{{ public_profile_user.user_profile.profile_picture.url }}
							{% else %}
							{% static "images/default_profile_picture.png" %}
							{% endif %}" 
						alt="Profile Picture" style="height: 200px;
						    width: 200px;
						    display: block;
						    margin: 20px auto;
						    border-radius: 50%;"/>
						<div>
							<label>Name: </label>
							{{ public_profile_user.first_name }}
						</div>
						<div>
							<label>Role: </label>
							{{ public_profile_user.user_profile.role }}
						</div>
						{# Check if this user is an associate before displaying sensitive information #}
						{% if is_associate %}

						<div>
							<label>Phone Number: </label>
							{{ public_profile_user.user_profile.phone_number }}
						</div>
						<div>
							<label>Medical History: </label>
							{{ public_profile_user.user_profile.medical_history }}
						</div>

						{% if public_profile_user.user_profile.role == 'professional' %}
							<br><br>
							<div>
								<iframe
								  width="100%"
								  height="225"
								  frameborder="0" style="border:0"
								  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAU0G9FZCZ7xylrsBCktRtyjcGcC1rMXzc
									&q={{ maps_query }}" allowfullscreen>
								</iframe>
							</div>
						{% endif %}

						{% endif %}

						{% if not is_associate %}
						<p><a href="{% url 'dashboard:add_associate' public_profile_user.id %}">Add user as team member</a></p>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
 <!-- /.col-lg-4 -->
</div>

</div>
<!-- /#page-wrapper -->

{% include "dashboard/footer_new.html" %}