{% include "dashboard/header.html" %}

<br><br>
{% if associates %}
<form action="{% url 'dashboard:share_notebook' notebook_id %}" method="post">
	{% csrf_token %}
	<table>
		<tr style="font-weight:bold;">
			<td>Name</td>
			<td>Add to notebook</td>
		</tr>
		{% for associate in associates %}
		<tr>
		<td><p>{{ associate.full_name }}</p></td>
		<!-- Append checkbox name to for-loop counter -->
		{% with y=forloop.counter|stringformat:"s" %}
		{% with checkboxName="isChecked"|add:y %}
		<td><input type="checkbox" name="{{ checkboxName }}" value="{{ associate.user.id }}" /></td>
		{% endwith %}
		{% endwith %}
		</tr>
		{% endfor %}
	</table>
	<br>
	<input type="submit" value="Add users">
</form>
{% else %}
<p>No more associates to add</p>
{% endif %}