{% load staticfiles %}
{% include "dashboard/accounts_header.html" %}

<section id="feature" >
    <div class="container">
        <div class="row">
            <div class="features">
                <div class="center wow fadeInDown centered" style="width:75%;">
                	<h2>Our Story</h2>
                	<p class="lead">The result of a real world need to better manage the health journey.  Inspired Patient was born.</p>
                	<p>Many patients and caregivers today are challenged by the health care journey.  And professionals face similar challenges in engaging and inspiring patients to the best health outcome possible.</p>
                	<p>Inspired Patient solves this big problem by providing a web platform for improving the patient's health journey.  We solve this problem by providing information, organization and collaboration tools to better managed the health journey.</p>
                	<p>Inspired Patient. Improving the health journey by empowering you to manage your health.</p>
                </div>
            </div><!--/.services-->
        </div><!--/.row-->    
    </div><!--/.container-->
</section><!--/#feature-->

<section id="about-us">
    <div class="container">
		<!-- our-team -->
		<div class="team">
			<div class="center wow fadeInDown">
				<h2>The Team</h2>
				<p class="lead">Learn more about the Inspired Patient Team.</p>
			</div>

			<div class="row clearfix">
				<div class="col-md-4 col-sm-6 col-md-offset-2">	
					<div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" style="height: 380px;">
						<div class="media">
							<div class="pull-left">
								<a href="#"><img style="width:125px;" class="media-object bio-pic" src="{% static 'images/landing_site/dan_bio_pic.jpg' %}" alt=""></a>
							</div>
							<div class="media-body">
								<h4>Dan DeBeyer</h4>
								<h5>Founder</h5>
								<ul class="social_icons">
									<li><a href="#"><i style="color:black;" class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div><!--/.media -->
						<p>Dan has spent a 20 year career in Life Sciences Product Development and Commercialization.  His inspiration for Inspired Patient was his family's health journey of the past 15 years.</p>
						<p>Dan volunteers extensively including mentoring health students at the University of British Columbia.</p>
					</div>
				</div><!--/.col-lg-4 -->
				
				
				<div class="col-md-4 col-sm-6">	
					<div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" style="height: 380px;">
						<div class="media">
							<div class="pull-left">
								<a href="#"><img style="width:125px;" class="media-object bio-pic" src="{% static 'images/landing_site/fred_rego_bio_pic.jpg' %}" alt=""></a>
							</div>
							<div class="media-body">
								<h4>Fred Rego</h4>
								<h5>Advisor</h5>
								<ul class="social_icons">
									<li><a href="https://ca.linkedin.com/in/fredrego"><i style="color:black;" class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div><!--/.media -->
						<p>Fred Rego has been involved with technology startups since he was 18 years old. He started his career in Rio de Janeiro Brazil and worked at Accenture and 3 software development start-ups before moving to Vancouver, Canada to work at a Health Care software company.</p>
						<p>He has a Bachelor of Science degree from Rio de Janeiro’s Federal University (Brazil) and has attended the University of British Columbia’s Sauder Business School extension program.</p>
					</div>
				</div><!--/.col-lg-4 -->					
			</div> <!--/.row -->     

			<div class="row clearfix" style="margin-top:75px;">   
				<div class="col-md-4 col-sm-6 col-md-offset-2">	
					<div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms" style="height: 380px;">
						<div class="media">
							<div class="pull-left">
								<a href="#"><img style="width:125px;" class="media-object bio-pic" src="{% static 'images/landing_site/stephen_tredwell_bio_pic.jpg' %}" alt=""></a>
							</div>

							<div class="media-body">
								<h4>Dr. Stephen Tredwell, MD Professor Emeritus, Orthopaedics, UBC</h4>
								<h5>Advisor</h5>
								<ul class="social_icons">
									<li><a  style="color:black;" href="https://ca.linkedin.com/pub/stephen-tredwell/1a/818/278"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div><!--/.media -->
						<p>Dr. Tredwell retired from clinical practice in 2006 as Department Head, Paediatric Orthopaedics, BC Children's Hospital.  His ongoing interests include medical ethics and areas related to patient autonomy and the patient/doctor partnership.</p>
						<p>Dr. Tredwell earned his MD at UBC and a MA in Organizational Change and Conflict Management from Royal Roads University.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms" style="height: 380px;">
						<div class="media">
							<div class="pull-left">
								<a href="#"><img style="width:125px;" class="media-object bio-pic" src="{% static 'images/landing_site/sandra_bessler_bio_pic.png' %}" alt=""></a>
							</div>
							<div class="media-body">
								<h4>Sandra Bessler</h4>
								<h5>Advisor</h5>
								<ul class="social_icons">
									<li><a href="https://ca.linkedin.com/pub/sandra-bressler/16/a90/20"><i  style="color:black;" class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div><!--/.media -->
						<p>Sandra has over 30 years of healthcare experience in a range of clinical and management roles.  Additionally Sandra has extensive volunteer leadership experience through participation on health professional committees and boards as well as interagency and provincial government task forces.</p>
						<p>Sandra earned a Bachelor of Occupational Therapy from McGill University and a Master of Arts in Leadership and Training from Royal Roads University.</p>
					</div>
				</div>
			</div>	<!--/.row-->
		</div><!--section-->
	</div><!--/.container-->
</section><!--/about-us-->

{% include "dashboard/accounts_footer.html" %}