{% load staticfiles %}
{% include "dashboard/accounts_header.html" %}

<section id="about-us">
    <div class="container">
		<!-- our-team -->
		<div class="team">
			<div class="center wow fadeInDown">
				<h2>Our Story</h2>
				<p class="lead">The result of a real world need to better manage the health journey.  Inspired Patient was born.</p>
				<br>
				<p>Many patients and caregivers today are challenged by the health care journey.  And professionals face similar challenges in engaging and inspiring patients to the best health outcome possible.</p>
				<br>
				<p>Inspired Patient solves this big problem by providing a web platform for improving the patient's health journey.  We solve this problem by providing information, organization and collaboration tools to better managed the health journey.</p>
				<br>
				<p>Inspired Patient. Improving the health journey by empowering you to manage your health.</p>
			</div>

			<div class="center wow fadeInDown">
				<h2>The Team</h2>
				<p class="lead">Learn more about the Inspired Patient Team.</p>
			</div>

			<div class="row clearfix">
				<div class="col-md-4 col-sm-6">	
					<div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
						<div class="media">
							<div class="pull-left">
								<a href="#"><img class="media-object" src="{% static 'images/landing_site/dan_bio_pic.jpg' %}" alt=""></a>
							</div>
							<div class="media-body">
								<h4>Dan DeBeyer</h4>
								<h5>Founder</h5>
								<ul class="tag clearfix">
									<li class="btn"><a href="#">Advocacy</a></li>
									<li class="btn"><a href="#">Health</a></li>
									<li class="btn"><a href="#">Inspiration</a></li>
									<li class="btn"><a href="#">Management</a></li>
								</ul>
								
								<ul class="social_icons">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li> 
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								</ul>
							</div>
						</div><!--/.media -->
						<p>Dan has spent a 20 year career in Life Sciences Product Development and Commercialization.  His inspiration for Inspired Patient was his family's health journey of the past 15 years.<br> Dan volunteers extensively including mentoring health students at the University of British Columbia.</p>
					</div>
				</div><!--/.col-lg-4 -->
				
				
				<div class="col-md-4 col-sm-6 col-md-offset-2">	
					<div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" style="margin-top: 180px;">
						<div class="media">
							<div class="pull-left">
								<a href="#"><img class="media-object" src="images/man2.jpg" alt=""></a>
							</div>
							<div class="media-body">
								<h4>Fred Rego</h4>
								<h5>Advisor</h5>
								<ul class="social_icons">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li> 
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								</ul>
							</div>
						</div><!--/.media -->
						<p>Fred is Co-Founder and CEO of Acecla Technologies, and advisor to Inspired Patient.</p>
					</div>
				</div><!--/.col-lg-4 -->					
			</div> <!--/.row -->
			<div class="row team-bar">
				<div class="first-one-arrow hidden-xs">
					<hr>
				</div>
				<div class="first-arrow hidden-xs">
					<hr> <i class="fa fa-angle-up"></i>
				</div>
				<div class="second-arrow hidden-xs">
					<hr> <i class="fa fa-angle-down"></i>
				</div>
				<div class="third-arrow hidden-xs">
					<hr> <i class="fa fa-angle-up"></i>
				</div>
				<div class="fourth-arrow hidden-xs">
					<hr> <i class="fa fa-angle-down"></i>
				</div>
			</div> <!--skill_border-->       

			<div class="row clearfix">   
				<div class="col-md-4 col-sm-6 col-md-offset-2">	
					<div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
						<div class="media">
							<div class="pull-left">
								<a href="#"><img class="media-object" src="images/man3.jpg" alt=""></a>
							</div>

							<div class="media-body">
								<h4>Dr. Stephen Tredwell, MD Professor Emeritus, Orthopaedics, UBC</h4>
								<h5>Advisor</h5>
								<ul class="social_icons">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li> 
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								</ul>
							</div>
						</div><!--/.media -->
						<p>Dr. Tredwell is advisor to Inspired Patient.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-md-offset-2">
					<div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
						<div class="media">
							<div class="pull-left">
								<a href="#"><img class="media-object" src="images/man4.jpg" alt=""></a>
							</div>
							<div class="media-body">
								<h4>Sandra</h4>
								<h5>Advisor</h5>
								<ul class="social_icons">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li> 
									<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								</ul>
							</div>
						</div><!--/.media -->
						<p>Sandra is part of CAOT Board.</p>
					</div>
				</div>
			</div>	<!--/.row-->
		</div><!--section-->
	</div><!--/.container-->
</section><!--/about-us-->

{% include "dashboard/accounts_footer.html" %}