{% load staticfiles %}
{% include "dashboard/accounts_header.html" %}

<section id="blog" class="container">
    <div class="center">
        <h2>Blogs</h2>
        <p class="lead">Read our latest blog posts.</p>
    </div>

    <div class="blog">
        <div class="row">
             <div class="col-md-12">	
                {% if blogs %}
                {% for blog in blogs %}
                <div class="blog-item">
                    <div class="row">
                        <div class="col-xs-12 col-sm-2 text-center">
                            <div class="entry-meta">
                                <span id="publish_date">{{ blog.date_created }}</span>
                                <span><i class="fa fa-user"></i> <a href="#">{{ blog.author_name }}</a></span>
                            </div>
                        </div>
                            
                        <div class="col-xs-12 col-sm-10 blog-content">
                            {% if blog.image %}
                            <a href="#">
                            <img class="img-responsive img-blog" src="{{ blog.image.url }}" width="100%" alt="" />
                            </a>
                            {% endif %}
                            <h2>{{ blog.title }}</h2>
                            {% if blog.url %}
                            <h3><a href="{{ blog.url }}" target="_blank">{{ blog.url }}</a></h3>
                            {% endif %}
                            <h3>{{ blog.content|linebreaks }}</h3>
                        </div>
                    </div>    
                </div><!--/.blog-item-->
                {% endfor %}
                {% endif %}

            </div><!--/.col-md-8-->
        </div><!--/.row-->
    </div>
</section><!--/#blog-->

{% include "dashboard/accounts_footer.html" %}