{% load staticfiles %}
{% include "dashboard/accounts_header.html" %}

<section id="contact-info">
    <div class="center">                
        <h2>How to Reach Us?</h2>
        <p class="lead">Contact us on social media or by email / phone.</p>
    </div>
    <div class="gmap-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 text-center">
                    <div class="gmap">
                        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=2880+Trimble+Street+Vancouver,+BC,+Canada,+V6R4L4&amp;aq=0&amp;oq=joomshaper&amp;sll=37.0625,-95.677068&amp;sspn=42.766543,80.332031&amp;ie=UTF8&amp;hq=JoomShaper,&amp;hnear=Dhaka,+Dhaka+Division,+Bangladesh&amp;ll=23.73854,90.385504&amp;spn=0.001515,0.002452&amp;t=m&amp;z=14&amp;iwloc=A&amp;cid=1073661719450182870&amp;output=embed"></iframe>
                    </div>
                </div>

                <div class="col-sm-7 map-content">
                    <ul class="row">
                        <li class="col-sm-6">
                            <address>
	                            <h5>Head Office</h5>
	                            <p>2880 Trimble Street<br>
	                            Vancouver, BC, Canada, V6R 4L4</p>
	                            <p>Phone:604.454.4284</p><br>
	                            <p>Email Address: <a href="mailto:dan@patientehealth.com">dan@patientehealth.com</a></p>
                            </address>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>  <!--/gmap_area -->

{% include "dashboard/accounts_footer.html" %}