{% load staticfiles %}
{% include "dashboard/accounts_header.html" %}

<section id="contact-info">
    <div class="center">                
        <h2>How to get in touch?</h2>
        <p class="lead">Contact us on social media or by email / phone.</p>
        <div class="social" style="text-align:center;">
             <ul class="social-share" style="">
                 <li><a href="https://www.facebook.com/inspiredpatient" style="width:60px;height:60px;background:none;"><i style="color:#ffbe00;font-size:40px;" class="fa fa-facebook"></i></a></li>
                 <li><a href="https://twitter.com/InspiredPatient" style="width:60px;height:60px;background:none;"><i style="color:#ffbe00;font-size:40px;" class="fa fa-twitter"></i></a></li>
                 <li><a href="https://www.linkedin.com/company/10150938?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A10150938%2Cidx%3A2-1-2%2CtarId%3A1441393275459%2Ctas%3Ainspired%20patient" style="width:60px;height:60px;background:none;"><i style="color:#ffbe00;font-size:40px;" class="fa fa-linkedin" ></i></a></li>     
                 <li><a href="#" style="width:60px;height:60px;background:none;"><i style="color:#ffbe00;font-size:40px;" class="fa fa-skype" ></i></a></li>
             </ul>
        </div>
    </div>
</section>  <!--/gmap_area -->

{% include "dashboard/accounts_footer.html" %}