{% load staticfiles %}
{% include "dashboard/accounts_header.html" %}

<section id="contact-info">
    <div class="center">                
        <h2>How to Reach Us?</h2>
        <p class="lead">Contact us on social media or by email / phone.</p>
    </div>
    <div class="gmap-area" style="background-image: url("{% static 'images/landing_site/contact_us_map.jpg' %}");background-position: 0 0;background-repeat: no-repeat;background-size: cover;padding: 70px 0;">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 text-center">
                    <div class="gmap">
                        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAU0G9FZCZ7xylrsBCktRtyjcGcC1rMXzc&q=2880+Trimble+Street+Vancouver+BC+Canada+V6R4L4"></iframe>
                    </div>
                </div>

                <div class="col-sm-7 map-content">
                    <ul class="row">
                        <li class="col-sm-6">
                            <address>
	                            <h5>Head Office</h5>
	                            <p>2880 Trimble Street<br>
	                            Vancouver, BC, Canada, V6R 4L4</p>
	                            <p>Phone:604.454.4284</p>
	                            <p>Email Address: <a style="color:black;" href="mailto:dan@patientehealth.com">dan@patientehealth.com</a></p>
                            </address>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>  <!--/gmap_area -->

{% include "dashboard/accounts_footer.html" %}