{% load staticfiles %}
{% include "dashboard/accounts_header.html" %}

<section id="faq">
    <div class="container">
        <div class="row">                
            <div class="center wow fadeInDown">
                <div class="faq" style="text-align:left;">
                    <h2 style="text-align:center;">FAQ</h2>
					<div>
						<h3>Who is Inspired Patient?</h3>
						<p>Inspired Patient is health management platform designed from a patient’s perspective.  Our Mission is to Improve your Health Journey by empowering you to better manage your health.</p>
					</div>
					<div>
						<h3>Who can use Inspired Patient? </h3>
						<p>Everyone.  The platform is designed to facilitate collaboration and communication between individuals and professionals.  We have solutions for individuals and professionals.</p>
					</div>
					<div>
						<h3>What is a health team? </h3>
						<p>Our definition of a health team is anyone you want to interact with as part of your health journey.  Usually this means friends, family, care givers and professionals to name a few examples.  Only registered members can be invited to join your health team.</p>
						<p>Our platform allows you to register as either an individual or professional.</p>
					</div>
					<div>
						<h3>What is a member profile? </h3>
						<p>New members are prompted to create a member’s profile as part of the joining process.  You can skip this step and update your profile later or at any time by selecting your user dropdown menu in the upper right corner of the member’s area.  The profile allows you to provide some basic information to other members you are associated with.</p>
					</div>
					<div>
						<h3>Where do I find more information on using the Member’s Area?</h3>
						<p>We help you get started using Inspired Patient right away by providing you with a number of notebook and note templates. Helpful tips for using the Inspired Patient platform is found in the Inspired Patient Help Notebook.</p>
					</div>
					<div>
						<h3>Do you have a question not covered by this FAQ?</h3>
						<p>Drop us an email at <a style="color:#0A7DDC;;" href="mailto:support@inspiredpatient.com.">support@inspiredpatient.com.</a></p>
					</div>
                </div>
            </div>
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/#faq-->

{% include "dashboard/accounts_footer.html" %}