{% load staticfiles %}
{% include "dashboard/accounts_header.html" %}

    <section id="main-slider" class="no-margin">
        <div class="carousel slide">
            <div class="carousel-inner">

                <div class="item active" style="background-image: url({% static 'images/landing_site/father_and_son.jpg' %})">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Improving the Health Journey</h1>
                                    <h2 class="animation animated-item-2" style="width:75%;">Inspired Patient: Empowering patients and their team, to better health outcomes</h2>
                                    <a class="btn-slide animation animated-item-3" href="{% url 'create_user' %}" style="font-size:20px;">Sign Up Now</a><br><br>
                                    <a href="{% url 'login' %}" style="color:white;font-size:18px;">or Login</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
    </section><!--/#main-slider-->

    <section id="feature" >
        <div class="container">
           <div class="center wow fadeInDown">
                <h2>Benefits</h2>
                <p class="lead">Patient centric, empowering, tools to manage your health journey.<br> Explore our many benefits below.</p>
            </div>

            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-book"></i>
                            <h2>Notes</h2>
                            <h3>Take notes, use a template, and access professional information.</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-users"></i>
                            <h2>Collaboration</h2>
                            <h3>Easily communicate with your health team.</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-code-fork"></i>
                            <h2>Organize</h2>
                            <h3>Track appointments, medication, and self care.</h3>
                        </div>
                    </div><!--/.col-md-4-->
                </div><!--/.services-->
            </div><!--/.row-->    
        </div><!--/.container-->
    </section><!--/#feature-->

    <section id="content">
        <div class="container">
            <div class="row">                
                <div class="center wow fadeInDown">
                    <div class="testimonial">
                        <h2>Testimonials</h2>
                         <div class="media testimonial-inner">
                            <div class="media-body centered" style="width:75%;">
                                <p>“My goal is a patient/ doctor partnership where both are committed to solving the problem.  For the patient and caregivers, this means a better health journey experience and better health outcome.  I am excited to be involved in this initiative."</p>
                                <span><strong>Stephen J Tredwell MD MA FRCSC </strong> Professor Emeritus, Department of Orthopaedics, University of British Columbia</span>
                            </div>
                         </div>
						<br></br>
                         <div class="media testimonial-inner">
                            <div class="media-body centered" style="width:75%;">
                                <p>"My own past significant health challenge highlights the need for Inspired Patient.  I felt overwhelmed with information, anxiety about the journey and confused by the process.  I wish the website had been available for me."</p>
                                <span><strong>Michael Anne Buckley </strong> Cancer Survivor, Vancouver, Canada</span>
                            </div>
                         </div>

                    </div>
                </div>

            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#content-->

    <section id="partner" style="background:url({% static 'images/landing_site/sign_up_bg.png' %}) 50% 50% no-repeat;background-size: cover;">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2 style="color:#0A7DDC">Better manage your health today!</h2>
                <button class="btn btn-primary"><a style="color:white;font-size:20px;" href="{% url 'create_user' %}">Sign Up Now</a></button>
                <br><br>
                <h2 style="color:#0A7DDC">... and let's keep in touch.</h2>
                <form action="" method="post" class="centered">
                    <span><input type="text" placeholder="Email" class="form-control" style="width:25%;display:inline;margin-right:10px;" /><button class="btn btn-primary" style="margin-top:0px;">Submit</button></span>
                </form>
            </div>           
        </div><!--/.container-->
    </section><!--/#partner-->

{% include "dashboard/accounts_footer.html" %}