{% load staticfiles %}
{% include "dashboard/accounts_header.html" %}

<section id="pricing">
    <div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<h3 style="text-align:center;">See our pricing options</h3>
						<p style="text-align: center;margin-bottom: 35px;">Find the plan that fits your health care needs.</p>
						<div class="table-responsive">
							<table class="table table-bordered table-striped">
								<thead>
									<tr>
										<th></th>
										<th style="text-align:center;">
											Basic
											<br><small>Start managing your health today!</small>
											<br><small>$2 per month</small>
										</th>
										<th style="text-align:center;">
											Premium
											<br><small>Bigger team, more features. I own my health!</small>
											<br><small>$5 per month</small>
										</th>
										<th style="text-align:center;">
											Professional
											<br><small>I want to help my clients! And be more productive!</small>
											<br><small>Contact sales</small>
										</th>
									</tr>
								</thead>
								<tbody id="pricing-body">
									<tr>
										<th>Inspired Patient usage</th>
										<td>Occassional</td>
										<td>Frequent</td>
										<td>All the time</td>
									</tr>
									<tr>
										<th>Team members</th>
										<td>5</td>
										<td colspan="2">unlimited</td>
									</tr>
									<tr>
										<th>Notes</th>
										<td>100</td>
										<td colspan="2">unlimited</td>
									</tr>
									<tr>
										<th>Notebooks</th>
										<td>25</td>
										<td colspan="2">unlimited</td>
									</tr>
									<tr>
										<th>Scheduler</th>
										<td></td>
										<td colspan="2"><i class="fa-check-circle-o"></i></td>
									</tr>
									<tr>
										<th>Storage</th>
										<td>10 MB</td>
										<td>25 MB</td>
										<td>Contact Sales</td>
									</tr>
									<tr>
										<th>Buy Now!</th>
										<td><button class="btn btn-success centered">Basic Plan</button></td>
										<td><button class="btn btn-info centered">Premium Plan</button></td>
										<td><button class="btn btn-primary centered" style="margin-top: 0px;">Professional Plan</button></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<!-- /.col-lg-12 -->
		</div>
		<!-- /.row -->
	</div>
</section>

{% include "dashboard/accounts_footer.html" %}