{% load staticfiles %}
{% include "dashboard/accounts_header.html" %}

<section id="pricing">
    <div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-body">
					<div class="centered" style="text-align:center;margin-bottom:15px;">
						<h2>See our pricing options</h2>
						<p>Find the plan that fits your health management needs</p>
						<a href="{% url 'create_user' %}"><button class="btn btn-success" style="margin-top: 5px;">Start Free Trial</button></a>
					</div>
						<div class="table-responsive">
							<table class="table table-bordered table-striped">
								<thead>
									<tr>
										<th></th>
										<th style="text-align:center;">
											Basic
											<br><small>Start managing your health today!</small>
											<br><small>$2 per month</small>
											<br><small>$20 annually</small>
										</th>
										<th style="text-align:center;">
											Premium
											<br><small>Bigger team, more features. I own my health!</small>
											<br><small>$5 per month</small>
											<br><small>$50 annually</small>
										</th>
										<th style="text-align:center;">
											Professional
											<br><small>I want to help my clients! And be more productive!</small>
											<br><small>Contact sales</small>
										</th>
									</tr>
								</thead>
								<tbody id="pricing-body">
									<tr>
										<th>Inspired Patient usage</th>
										<td>Occassional</td>
										<td>Frequent</td>
										<td>All the time</td>
									</tr>
									<tr>
										<th>Team members</th>
										<td>5</td>
										<td>25</td>
										<td>Custom</td>
									</tr>
									<tr>
										<th>Notes</th>
										<td>100</td>
										<td>100</td>
										<td>Custom</td>
									</tr>
									<tr>
										<th>Notebooks</th>
										<td>25</td>
										<td>500</td>
										<td>Custom</td>
									</tr>
									<tr>
										<th>Scheduler</th>
										<td>Included</td>
										<td>Included</td>
										<td>Custom</td>
									</tr>
									<tr>
										<th>Storage</th>
										<td>10 MB</td>
										<td>25 MB</td>
										<td>Custom</td>
									</tr>
									<tr>
										<th>Buy Now! - Monthly</th>
										<td>
											<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
											<input type="hidden" name="cmd" value="_s-xclick">
											<input type="hidden" name="hosted_button_id" value="NNKUNJEEBHQDQ">
											<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
											<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
											</form>
										</td>
										<td>
											<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
											<input type="hidden" name="cmd" value="_s-xclick">
											<input type="hidden" name="hosted_button_id" value="MQWSY53KB56JW">
											<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
											<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
											</form>
										</td>
										<td><button class="btn btn-primary centered" style="margin-top: 0px;">Contact Sales</button></td>
									</tr>
									<tr>
										<th>Buy Now! - Annual</th>
										<td>
											<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
											<input type="hidden" name="cmd" value="_s-xclick">
											<input type="hidden" name="hosted_button_id" value="B7AAGLX3X7K3W">
											<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
											<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
											</form>
										</td>
										<td>
											<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
											<input type="hidden" name="cmd" value="_s-xclick">
											<input type="hidden" name="hosted_button_id" value="6KWDVFQCJA8P6">
											<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
											<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
											</form>
										</td>
										<td><button class="btn btn-primary centered" style="margin-top: 0px;">Contact Sales</button></td>
									</tr>
								</tbody>
							</table>
								<div style="text-align: center;">
									<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_subscr-find&alias=7B6WNQCTL44MU">
									<img src="https://www.paypalobjects.com/en_US/i/btn/btn_unsubscribe_LG.gif" border="0">
									</a> 
									<a href="mailto:sales@inspiredpatient.com" style="color:black;">or Contact Us</a>
								</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.col-lg-12 -->
		</div>
		<!-- /.row -->
	</div>
</section>

{% include "dashboard/accounts_footer.html" %}