{% load staticfiles %}
{% include "dashboard/accounts_header.html" %}

<section id="feature" >
    <div class="container">
        <div class="row">
            <div class="features">
                <div class="center wow fadeInDown centered" style="width:75%;">
                	<h2>Health Management</h2>
                	<p class="lead">Inspired Patient is patient centric and engages all stakeholders in the patient’s health journey.</p>
                	<p>We offer a range of solutions for patients, caregivers and professionals.  Keeping on top of your health can be a real challenge.  Our solutions are targeted to improve the management of your care.</p>
                	<p>Better health journey management means better health outcomes.  Inspired Patient, empowering you to manage your health.</p>
                </div>
            </div><!--/.services-->
        </div><!--/.row-->    
    </div><!--/.container-->
</section><!--/#feature-->

<section id="notes" >
    <div class="container">
        <div class="row">
            <div class="col-md-8 notes">
                <div class="center wow fadeInDown centered" style="width:75%;text-align:left;padding-top:55px;">
                    <h2>Notes</h2>
                    <p class="lead">Take notes, organize notebooks, access reference materials and more.</p>
                </div>
            </div><!--/.notes-->
            <div class="col-md-4">
                <img style="width:100%" src="{% static 'images/landing_site/notes.png' %}" alt="">
            </div><!--/.notes-->
        </div><!--/.row-->    
    </div><!--/.container-->
</section><!--/#notes-->

<section id="collaborate" style="background: #f2f2f2;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img style="width:100%" src="{% static 'images/landing_site/collaborate.png' %}" alt="">
            </div>
            <div class="col-md-8 collaborate">
                <div class="center wow fadeInDown centered" style="width:75%;text-align:right;padding-top:55px;">
                    <h2>Collaborate</h2>
                    <p class="lead">Communicate with your health team. Invite collaboration and share information.</p>
                </div>
            </div><!--/.collaborate-->
        </div><!--/.row-->    
    </div><!--/.container-->
</section><!--/#collaborate-->

<section id="organize" >
    <div class="container">
        <div class="row">
            <div class="col-md-8 organize">
                <div class="center wow fadeInDown centered" style="width:75%;padding-top:55px;text-align:left;">
                    <h2>Organize</h2>
                    <p class="lead">Manage your health journey from our dashboard. Schedule reminders, organize notes, contacts, and more.</p>
                </div>
            </div><!--/.organize-->
            <div class="col-md-4">
                <img style="width:100%" src="{% static 'images/landing_site/organize.jpg' %}" alt="">
            </div>
        </div><!--/.row-->    
    </div><!--/.container-->
</section><!--/#organize-->

<section id="professional" style="background: #f2f2f2;">
    <div class="container">
        <div class="row">
            <div class="col-md-8 professional">
                <div class="center wow fadeInDown centered" style="width:75%;padding-top:55px;text-align:left;">
                    <p class="lead">Leverage our professional solutions to improve quality of care, health outcomes and your time management.  Contact us to learn more about our professional solutions.</p>
                    <h2>Inspired Patient Professional</h2>
                </div>
            </div><!--/.professional-->
            <div class="col-md-4">
                <img style="width:100%" src="{% static 'images/landing_site/doctor_and_patient.jpg' %}" alt="">
            </div>
        </div><!--/.row-->    
    </div><!--/.container-->
</section><!--/#professional-->

{% include "landing_site/try_now_section.html" %}

{% include "dashboard/accounts_footer.html" %}