{% load staticfiles %}
{% include "dashboard/accounts_header.html" %}

<section id="feature" >
    <div class="container">
        <div class="row">
            <div class="features">
                <div class="center wow fadeInDown centered" style="width:75%;">
                	<h2>Health Management</h2>
                	<p class="lead">Inspired Patient is patient centric and engages all stakeholders in the patient’s health journey.</p>
                	<p>We offer a range of solutions for patients, caregivers and professionals.  Keeping on top of your health can be a real challenge.  Our solutions are targeted to improve the management of your care.</p>
                	<p>Better health journey management means better health outcomes.  Inspired Patient, empowering you to manage your health.</p>
                </div>
            </div><!--/.services-->
        </div><!--/.row-->    
    </div><!--/.container-->
</section><!--/#feature-->

{% include "dashboard/accounts_footer.html" %}