{% load staticfiles %}

<section id="partner" style="background:url({% static 'images/landing_site/sign_up_bg.png' %}) 50% 50% no-repeat;background-size: cover;">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2 style="text-shadow: 1px 1px black;">Better manage your health today!</h2>
                <button class="btn btn-primary"><a style="color:white;font-size:20px;" href="{% url 'create_user' %}">Start Free Trial</a></button>
                <br><br>
                <h3 style="text-shadow: 1px 1px black;">... and let's keep in touch.</h3>
                <!-- Begin MailChimp Signup Form -->
                <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
                <div id="mc_embed_signup">
                <form action="//patientehealth.us10.list-manage.com/subscribe/post?u=7913202ebc8cc30a27331b16b&amp;id=d711f90a66" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll" class="centered" style="width:75%;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;">
                <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                <div class="mc-field-group">
                 <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
                </label>
                 <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL">
                </div>
                <div class="mc-field-group">
                 <label for="mce-FNAME">First Name  <span class="asterisk">*</span>
                </label>
                 <input type="text" value="" name="FNAME" class="required form-control" id="mce-FNAME">
                </div>
                <div class="mc-field-group">
                 <label for="mce-LNAME">Last Name  <span class="asterisk">*</span>
                </label>
                 <input type="text" value="" name="LNAME" class="required form-control" id="mce-LNAME">
                </div>
                 <div id="mce-responses" class="clear">
                 <div class="response" id="mce-error-response" style="display:none"></div>
                 <div class="response" id="mce-success-response" style="display:none"></div>
                 </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_7913202ebc8cc30a27331b16b_d711f90a66" tabindex="-1" value=""></div>
                    <div class="clear" style="text-align:center;margin-top: 15px;"><input type="submit" style="background-color:#ffbe00;"value="Subscribe to Mailing List" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                    </div>
                </form>
                </div>
                <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                <!--End mc_embed_signup-->
            </div>           
        </div><!--/.container-->
</section><!--/#partner-->